body {
    margin: 0;
}

#clicker {
    width: 35%;
    height: 100vh;
    background-color: rgba(24, 158, 0, 0.637);
    position: absolute;
}

#BTC {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
    width: 200px;
    height: 200px;
    color: goldenrod;
    background-image: url("/assets/images/bitcoin-btc.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
}
#score{
    width: 65%;
    height: 100vh;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 35%;
}
